@import "tailwindcss";

@theme {
    --color-primary-500: #2563EB;
    --color-sidebar-500: #0F172A;
    --color-sidebar-active-500: #1E40AF;
    --color-header-500: #0B1220;

    --color-primary-text-500: #0F172A;
    --color-secondary-500: #64748B;
    --color-muted-500: #94A3B8;
    --color-sidebar-text-500: #F1F5F9;

    --color-success-500: #22C55E;
    --color-warning-500: #F59E0B;
    --color-danger-500: #EF4444;
    --color-info-500: #3B82F6;

    --color-border-500: #E5E7EB;
    --color-table-header-500: #F8FAFC;


    --text-metric: 28px;


    --radius-card: 12px;
    --radius-button: 8px;
    --radius-input: 8px;

}

*{
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body{
    background-color: #F1F5F9;
}